.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  z-index: 1; /* Ensure the toggle button is above the background */
}

input:checked + .slider {
  background-color: #3f3f46;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #555; /* Adjusted background color for visibility */
}

.slider .icon {
  position: absolute;
  top: 7px;
  left: 8px;
  font-size: 18px;
  transition:
    transform 0.4s,
    color 0.4s;
  z-index: 2; /* Ensure the icon is above the slider */
}

input:checked + .slider .icon {
  transform: translateX(26px);
}

.icon-outline {
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
}

.icon-filled {
  color: #fff;
  background-color: #555;
  border-radius: 50%;
  padding: 2px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
