@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Toggle Switch CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  z-index: 1; /* Ensure the toggle button is above the background */
}

input:checked + .slider {
  background-color: #3f3f46;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #555; /* Adjusted background color for visibility */
}

.slider .icon {
  position: absolute;
  top: 7px;
  left: 8px;
  font-size: 18px;
  transition: transform .4s, color .4s;
  z-index: 2; /* Ensure the icon is above the slider */
}

input:checked + .slider .icon {
  transform: translateX(26px);
}

.icon-outline {
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
}

.icon-filled {
  color: #fff;
  background-color: #555;
  border-radius: 50%;
  padding: 2px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Loader CSS */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
